<footer class="krypton-footer">
  <div class="container">
    <!-- Logo -->
    <div class="footer-logo">
      <a href="#">
        <img class="rotating" src="/img/logo/mind-krypton-gradient.svg" alt="" />
        <div class="brand-name">MINDCHAINWALLET</div>
        <div class="brand-subtitle">Next Generation Blockchain Ecosystem.</div>
      </a>
    </div>

    <!-- Columns -->
    <div class="columns footer-columns is-vcentered">
      <div class="column is-4">
        <!-- Links group -->
        <ul class="footer-links">
          <li>
            <a href="https://mindchain.info">MIND Ecosystem</a>
          </li>

          <li>
            <a href="https://v2.mindscan.info">Mainnet Explorer</a>
          </li>

          <li>
            <a href="https://pay.mindchain.info/">MindPay</a>
          </li>
        </ul>
      </div>
      <!-- Newsletter -->
      <div class="column is-4">
        <div class="subscribe-block">
          <form>
            <!-- Field -->
            <div class="control">
              <!-- Special input -->
              <input
                class="krypton-subscribe-input"
                type="email"
                name="email"
                placeholder=""
              />
              <button class="subscribe-button">
                <span>Subscribe</span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- Links group -->
      <div class="column is-4">
        <ul class="footer-links">
          <li>
            <a href="https://mindchainwallet.com/register">Register</a>
          </li>

          <li>
            <a href="https://wallet.mindchain.info/">Wallet</a>
          </li>

          <li>
            <a href="https://t.me/mindchainMIND">Telegram</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Copyright -->
    <p class="k-copyright">© 2022-2025 | Mindchain. All Rights Reserved</p>
    <br />
    <!-- Made by -->
    <p class="coded-by">
      Developed by <a href="https://mindchain.info" target="_blank"
        >Mindchain Team</a>
    </p>
  </div>

  <!-- Absolute image -->
  <img class="solar-system" src="/img/bg/solar.svg" alt="" />
</footer>
